/* CategoryList.css */

.category-list {
  font-family: 'Arial', sans-serif;
}

.category-header {
  background-color: #3498db;
  color: #fff;
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category-header.open {
  background-color: #2980b9;
}

.category-content {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #f8f4f4;

}

/* Arrow styles */
.arrow {
  font-size: 20px;
}

/* Adding some animation to the arrow */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.category-header:hover .arrow {
  animation: bounce 1s infinite;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .category-header {
    padding: 12px;
  }

  .category-content {
    padding: 8px;
  }
}
